//font size
$fs1: 10px;
$fs2: 12px;
$fs3: 14px;
$fs4: 16px;
$fs5: 18px;
$fs6: 20px;
$fs7: 22px;
$fs8: 24px;


//transitions
$transition-default: all 200ms linear;

//font family
$font-base: 'Roboto';
$line-height-default: 1.2;


//blogs
$aside-max-width: 290px;
$small-max-width: 245px;

$blog-item-margin: 24px;
$blog-item-height: 272px;
$blog-item-height-l: 568px;
$blog-img-height: 130px;

$br-1: 3px;
$br-2: 100px;

// colors
$white: #fff;
$black: #000;
$color1: #666;
$color2: #999;
$color3: #EBEBEB;
$color4: #006FCA;
$color5: #C1E4FF;